/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 20px;
    color: white;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Tombol Sidebar */
  .open-sidebar-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle,
    #ffffff 20%,   /* Pusat putih */
    #292929 60%,   /* Abu gelap sebagai transisi */
    #181818 80%,   /* Lebih gelap */
    #000000 100%   /* Hitam pekat di paling luar */
  );
    color: white;
    font-size: 24px;
    padding: 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1001;
    width: 45px;  /* Ukuran tombol lebih kecil */
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px); /* Opsional, untuk efek kaca */
    opacity: 65%;
  }
  
  .close-sidebar-btn {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 1002;
    text-align: center;
    display: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-sidebar-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
  }
  
  .open-sidebar-btn:focus,
  .close-sidebar-btn:focus {
    outline: none;
  }