
@keyframes fadeInPage {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Penerapan waktu animasi 1 detik */
.page {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInPage 1s ease forwards;
}
